; {{ ansible_managed }}

[Unit]
Description={{ redis_instance_service }} - Persistent key-value db
After=network.target

[Service]
Type=forking
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p {{ redis_pidfile | dirname }}
ExecStartPre=/bin/chown -R {{ redis_system_user }}:{{ redis_system_group }} {{ redis_pidfile | dirname }}
ExecStart=/usr/bin/redis-server /etc/redis/{{ redis_instance_name_full }}.conf
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID
PIDFile={{ redis_pidfile }}
Restart=always
User={{ redis_system_user }}
Group={{ redis_system_group }}
{% if redis_limit_no_file is defined %}
LimitNOFILE={{ redis_limit_no_file }}
{% endif %}

[Install]
WantedBy=multi-user.target
